ul {
    list-style-type: none;
}

.messagepool {
    display: inline;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: -15px;
}

.remove {
    float: right;
}

.name {
    color: gray;
}
